@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hilangkan scrollbar di seluruh browser */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Base Styling CoreAnime */
body {
  background-color: #060910;
  color: #f3f4f6; /* Sama dengan text-gray-100 */
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* Utility untuk elemen spesifik jika dibutuhkan */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}